/* HEADER */

header {
  background-color: var(--color-neutral-0);
  display: grid;
  grid-template-columns: 1fr calc((640 - 166) / 1440 * 100vw) calc(800px - 640px) calc(990px - 800px) calc((1276 - 990) / 1440 * 100vw) 1fr;
  grid-template-rows: 102px 80px calc(280px - 180px) calc(689px - 280px) calc(782px - 689px) calc(917px - 782px);
}

/* NAVBAR */

.navbar {
  grid-column: 2 / -2;
  align-self: flex-end;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* CURVED LINE */

.header-curve-line {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: right;
  margin-right: 59px;
  z-index: 10;
}

/* CONTENT */

.hero-content {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  z-index: 10;
}

.hero-desc {
  width: 350px;
  color: var(--color-neutral-500);
}

.hero-content a {
  margin-top: 24px;
}

/* IMAGE */

.hero-img {
  width: 100%;
  grid-column: 3 / 5;
  grid-row: 3 / 6;
}

/* FUN FACTS */

.fun-facts {
  width: calc(190 / 1440 * 100vw);
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  justify-self: right;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.fact-number {
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-900);
  margin-bottom: 4px;
}

.fact-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2.5px;
  color: var(--color-neutral-500);
}

/* TABLET */

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr calc((456 - 32) / 768 * 100vw) calc((517 - 456) / 768 * 100vw) calc((608 - 517) / 768 * 100vw) calc((736 - 608) / 768 * 100vw) 1fr;
    grid-template-rows: 84px calc(164px - 84px) calc(251px - 164px) calc(664px - 251px) calc(724px - 664px) calc(810px - 724px) calc(910px - 810px);
  }

  .header-curve-line {
    grid-column: 2 / 5;
    margin-right: 0;
  }

  .hero-img {
    width: 100%;
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }

  .fun-facts {
    width: 100%;
    height: 86px;
    grid-column: 2 / -2;
    grid-row: 6 / 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fun-fact {
    width: 192px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .hero-content {
    grid-column: 2 / -2;
    gap: 24px;
  }

  .hero-content a {
    margin-top: 16px;
  }

  .fun-facts {
    gap: 15px;
  }

  .hero-img {
    display: none;
  }
}

/* MOBILE */

@media (max-width: 375px) {
  header {
    grid-template-columns: 1fr calc((359 - 16) / 375 * 100vw) 1fr;
    grid-template-rows: 76px calc(140px - 76px) calc(435px - 140px) calc(500px - 435px) calc(740px - 500px) calc(800px - 740px) calc(1140px - 800px) calc(1240px - 1140px);
  }

  .navbar,
  .header-curve-line,
  .hero-content,
  .hero-img,
  .fun-facts {
    grid-column: 2 / -2;
  }

  .header-curve-line {
    grid-row: 2 / 3;
    width: 35%;
    align-self: flex-end;
    margin-right: 15%;
    margin-bottom: 2%;
  }

  .hero-content {
    grid-row: 3 / 4;
    gap: 24px;
  }

  .hero-img {
    grid-row: 5 / 6;
    display: block;
  }

  .hero-content a {
    margin-top: 16px;
  }

  .fun-facts {
    grid-row: 7/ 8;
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }

  .fun-fact {
    width: 100%;
  }
}