/* HEADER */

header {
  background-color: var(--color-neutral-0);
  display: grid;
  grid-template-columns: 1fr calc((640 - 166) / 1440 * 100vw) calc((800 - 640) / 1440 * 100vw) calc((990 - 800) / 1440 * 100vw) calc((1276 - 990) / 1440 * 100vw) 1fr;
  grid-template-rows: 102px 80px calc(280px - 180px) calc(689px - 280px) calc(782px - 689px) calc(917px - 782px);
}

/* NAVBAR */

.navbar {
  grid-column: 2 / -2;
  align-self: flex-end;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* CURVED LINE */

.header-curve-line {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: right;
  margin-right: 59px;
  z-index: 10;
}

/* CONTENT */

.hero-content {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  z-index: 10;
}

.hero-desc {
  width: 350px;
  color: var(--color-neutral-500);
}

.hero-content a {
  margin-top: 24px;
}

/* IMAGE */

.hero-img {
  width: 100%;
  grid-column: 3 / 5;
  grid-row: 3 / 6;
}

/* FUN FACTS */

.fun-facts {
  width: 190px;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  justify-self: right;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.fact-number {
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-900);
  margin-bottom: 4px;
}

.fact-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2.5px;
  color: var(--color-neutral-500);
}