.btn {
  padding: 16px 24px 12px 24px;
  border: 1px solid var(--color-neutral-900);
  border-radius: 6px;
}

.btn-light {
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-0);
}

.btn-dark {
  color: var(--color-neutral-0);
  background-color: var(--color-neutral-900);
}